@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");
:root {
    --primary-dark-blue: hsl(243, 87%, 12%);
    --primary-blue: hsl(238, 22%, 44%);
    --accent-blue: hsl(224, 93%, 58%);
    --accent-cyan: hsl(170, 45%, 43%);
    --neutral-blue-grey: hsl(240, 75%, 98%);
    --neutral-grey: hsl(0, 0%, 75%);
}
/* global */
* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--neutral-blue-grey);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
h1 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5em;
}
.btn {
    background-color: var(--accent-blue);
    color: white;
    padding: 0.75em 0;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.flex {
    display: flex;
    flex-flow: column-reverse nowrap;
}
.container {
    padding: 0 1.25em;
}
/* mobile 375, desktop: 1440px */
/* menu */
header {
    height: 80px;
}
.flex-header {
    display: flex;
}
.header-logo {
    width: 50%;
}

.menu-item {
    font-size: 12px;
    color: var(--primary-dark-blue);
}
.menu > li:nth-child(2) > a {
    margin: 0 2em;
}
/* hero */
.info > h1 {
    text-align: center;
}
.info > p {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    padding: 0 1em;
}
.info > * {
    margin: 20px 0;
}
.hero-form {
    display: flex;
    flex-flow: column nowrap;
}

.hero-form > * {
    width: 100%;
    margin: 0.5em 0;
}
